@import "variables";
@import "mixins";

.excel__table {
	position: absolute;
	left: 0;
	right: 0;
	top: $header-height + $toolbar-height + $formula-height;
	overflow-x: auto;
	padding-bottom: 2px;

	&-row {
		display: flex;
		flex-direction: row;
		min-height: 20px;
		height: $row-height;
	}

	&-row-info {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: $info-cell-width;
		height: 100%;
		border: 1px solid $border-gray;
		background: $cell-bg;
		border-top: 0;
	}

	&-row-data {
		display: flex;
	}

	&-column {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $cell-bg;
		min-width: 40px;
		width: $cell-width;
		border: 1px solid $border-gray;
		height: 100%;
		border-top: 0;
		border-left: 0;
	}

	&-column-resize,
	&-row-resize {
		position: absolute;
		background: $border-blue;
		opacity: 0;
		z-index: 1;

		&:hover {
			opacity: 1 !important;
		}
	} 

	&-column-resize {
		top: 0;
		right: -2px;
		width: 4px;;
		bottom: 0;

		&:hover {
			cursor: col-resize;
		}
	}

	&-row-resize {
		left: 0;
		right: 0;
		bottom: -2px;
		height: 4px;

		&:hover {
			cursor: row-resize;
		}
	}

	&-cell {
		min-width: 40px;
		padding: 5px;
		width: $cell-width;
		border: 1px solid $border-light-gray;
		border-top: 0;
		border-left: 0;
		height: 100%;
		white-space: nowrap;
		outline: none;

		&_selected {
			border: 0;
			outline: 2px solid $border-blue;
			z-index: 2;
		}
	}
}